<div class="breadcrumb-wrap">
    <div class="region--breadcrumb nst-1">
        <section id="block-ttheme-breadcrumbs" class="block-system block-system-breadcrumb-block">
            <div role="navigation">
                <ol class="breadcrumb">
                    {% for key, value in breadcrumbs %}
                        {% if key == 'Home' %}
                            <li><a href="{{ value }}">Home</a></li>
                        {% elseif(value is empty) %}
                            <li>{{ key }}</li>
                        {% else %}
                            <li><a href="{{ value }}"> {{ key }} </a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </section>
    </div>
</div>